services:
  gestor-tareas:
    platform: linux/arm64
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      HOST: 0.0.0.0
      PORT: "3000"
      NODE_ENV: development
      # TRUST_PROXY: "1"
      # FORCE_HTTPS: "0"
      # HSTS_ENABLED: "0"
      DB_FILE: /app/data/data.db
      UPLOAD_DIR: /app/uploads
      SMTP_HOST: mailpit
      SMTP_PORT: 1025
      PUBLIC_URL: https://localhost:8443
    ports:
      - "3000:3000"
    command: node --watch src/server.js
    volumes:
      - ./src:/app/src
      - ./tests:/app/tests
      - ./data:/app/data
      - ./uploads:/app/uploads
    depends_on:
      - mailpit

  mailpit:
    image: axllent/mailpit
    restart: unless-stopped
    ports:
      - "8825:8025" # Interfaz Web (Cambiado a 8825 por conflicto)
    environment:
      MP_MAX_MESSAGES: 500
      MP_DATABASE: /data/mailpit.db
    volumes:
      - mailpit_data:/data

volumes:
  mailpit_data: